@model PartyWebApp.Models.Performer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <div class="container-fluid">
            <img height="240" src=@Html.DisplayFor(modelItem => Model.SpotifyArtistObj.Images.First().Url) alt="...">
            <div class="position-absolute bottom-0 start-0">
                <h1>@Html.DisplayFor(modelItem => Model.SpotifyArtistObj.Name)</h1>
                <h6 class="text-muted">Followers: @Html.DisplayFor(model => model.SpotifyArtistObj.Followers.Total)</h6>
            </div>
        </div>
    </div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
